.card {
  display: flex;
  gap: 15px;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
}

.imageBox img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
}

.content {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.name {
  font-size: 16px;
  font-weight: 600;
}

.description {
  font-size: 13px;
  color: #777;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity button {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.quantity button:hover {
  background-color: #f2f2f2;
}
